{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>

    <section id="founders">
        <h2>Meet Your Founders</h2>
        <p>We are all students of Clemson University's CPSC 4910 class, working together to create innovative solutions in the trucking industry.</p>
        <ul>
            <li>Founder 1: Gracie Hine</li>
            <li>Founder 2: Joshua Swanier</li>
            <li>Founder 3: Timmy Lam</li>
            <li>Founder 4: Kalyaan Srinivasan</li>
            <li>Founder 5: Dustin Sullivan</li>
        </ul>
    </section>

    <!-- Database Connection Status Section -->
    <section id="db-status-section">
        <h2>Database Connection Status</h2>
        <p id="db-status">{{ db_status }}</p>
    </section>
{% endblock %}

